---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Tauri Astro.">

    <div class="tauriastro">
        <div class="Logos">
            <ul>
                <li>
                        <a href="https://tauri.app" target="_blank">
                            <img src="/tauri.svg" class="logo tauri" alt="Tauri logo" />
                        </a>

                </li>
                <li>
                    <a href="https://astro.build" target="_blank">
                        <img
                                src="/astro-dark.svg"
                                alt="Astro logo"
                        />
                    </a>
                </li>
            </ul>
            <h1>
                Tauri & Astro
            </h1>
            <div class="Tips">
                <p>You can edit this page from <span class="Box">'src/pages/index.astro'</span></p>
                <p>And also you can change style from <span class="Box">'src/assets/sass/index.scss'</span></p>
            </div>
        </div>
    </div>

</Layout>